<%= form_for @shedule do |f| %>
  <% if @shedule.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@shedule.errors.count, "error") %> prohibited
      this shedule from being saved:</h2>
    <ul>
    <% @shedule.errors.full_messages.each do |msg| %>
      <li><%= msg %></li>
    <% end %>
    </ul>
  </div>
  <% end %>

  <p>
    <%= f.label :type_shedule %><br>
    <%= f.text_field :type_shedule %>
  </p>
 
  <p>
    <%= f.label :favorite_town_from %><br>
    <%= f.text_area :favorite_town_from %>
  </p>

  <p>
    <%= f.label :favorite_town_to %><br>
    <%= f.text_area :favorite_town_to %>
  </p>
    
   
  <p>
    <%= f.submit %>
  </p>
<% end %>
